@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

.container {
    width: 1046px;
    height: 408px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 0 1rem 1rem;
    gap: 3rem;
}

h4 {
    margin-block-start: 0;
    color: #E0E0E0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h3 {
    width: 178px;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-block-end: 4rem;
}

p {
    width: 465px;
    color: #828282;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image {
    width: 682px;
    height: 364px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #C4C4C4;
}

h5 {
    color: #2F80ED;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5rem;
}