@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.container-skills {
    width: 389px;
    height: 284px;
    border-radius: 12px;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    padding: 0 1rem 1rem 1rem;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    color: #4F4F4F;
    margin-bottom: 1.5rem;
}



.skill {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.skill-name {
    color: #4F4F4F;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 125px;
}
